//fonts
@mixin lato-700 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin lato-600 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
}

@mixin lato-400 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
}